{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>Secure Payment</title>

<link rel="stylesheet" href="{% static 'payment.css' %}">

</head>

<body>

<div class="payment-wrapper">

<div class="payment-box">

<h2>Swachh Bharat Mission Registration</h2>

<p class="amount"><span class="bold-animate">Registration Fee:</span> ₹100</p>

<div class="qr-section">

<img src="{% static 'QRCode.png' %}" alt="QRCode">

<p class="scan-text">
<span style="font-weight:bold;">
Scan this QR code with your UPI app (PhonePe / GPay / Paytm)
</span>
</p>

</div>

<div class="upi-box">
UPI ID: <span style="font-weight:bold;">7047096969@ybl</span>
</div>


<form method="POST">
{% csrf_token %}

<div class="access-section">
<input name="code" type="text" maxlength="4" placeholder="Enter 4-digit code" class="code-input">
<button type="submit" class="access-btn">Access Link</button>
</div>

</form>

</div>

</div>

</body>
</html>